<div class="login">
    <div class="login__card">
        <h1>{{'label.login' | translate}}</h1>
        <form [formGroup]="form" (submit)="login()">
            <div class="login__card__input">
                <input
                    pInputText
                    class="p-inputtext-sm"
                    [pTooltip]="
                    form.controls['username'].invalid &&
                    form.controls['username'].dirty ?
                    ('label.enter.login' | translate) :
                     null"
                    [formControlName]="'username'"
                    [placeholder]="'label.login' | translate"
                >
            </div>
            <div class="login__card__input">
                <input
                    pInputText
                    class="p-inputtext-sm"
                    type="password"
                    [pTooltip]="form.controls['password'].invalid &&
                    form.controls['password'].dirty ?
                    ('label.enter.password' | translate) :
                    null"
                    [formControlName]="'password'"
                    [placeholder]="'label.password' | translate"
                >
            </div>
            <div class="login__card__input">
                <button
                    pButton
                    pRipple
                    type="submit"
                    [label]="'label.login' | translate"
                    [loading]="loading"
                    [disabled]="form.invalid"
                ></button>
            </div>
            <a href="#" class="login__card-forget">
                <span>{{'label.lost.password' | translate}}</span>
            </a>
        </form>
    </div>
</div>

<p-toast
    [showTransitionOptions]="'200ms'"
    [hideTransitionOptions]="'200ms'"
></p-toast>
